@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}

:root{
    --mainColor : #29335C;
    --mainColorLight : #5767aa;
    --secondaryColor : #DB2B39;
    --textColor : #eee;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    padding: 0 2rem;
    /* background-color: var(--mainColor); */
    background-color: black;
    color: var(--textColor);
    font-size: larger;

}

nav a{
    margin: 0 2rem;
    text-decoration: none;
    color: var(--textColor);
}

nav a:hover{
    color: var(--secondaryColor);
}

.nav-btn{
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: var(--textColor);
    /* visibility: hidden;
    opacity: 0; */
    font-size: 1.8rem;
}

.nav-close-btn{
    visibility: hidden;
}

.logo{
    height: 80px;
    margin-top: -0.05%;
}

@media only screen and (max-width: 1024px){
    .nav-btn{
        visibility: visible;
        opacity: 1;
    }

    nav{
        position: fixed;
        top : 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap : 1.5rem;
        background-color: var(--mainColor);
        transition: 1s;
        transform: translateY(-100vh);
    }

    .responsive_nav{
        transform: none;
    }

    .nav-close-btn{
        position: absolute;
        top: 2rem;
        right : 2rem
    }

}