/* write your css here */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title{
    font-size: 3rem;
    margin: 6vh;
    border: 7px dashed rgb(1,17,160);
    border-radius: 20px;
    text-align: center;
    padding: 1vh 5vw;
}

.cards{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    width: 400px;
    height: max-content;
    margin: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
    box-shadow: rgba(0,0,0,0.24) 0px 3px 8px;
}

.image{
    width : 380px;
    aspect-ratio: 1/1;  /* square size */
}

.tour-info{
    margin: 20px;
}

.tour-price{
    color: #1faa59;
    font-size: 1.3rem;
}

.tour-name{
    font-size: 1.5rem;
}

.description{
    font-size: 1.2rem;
}

.read-more{
    color: #12B0E8;
    cursor: pointer;
}

.btn-red{
    margin-top: 12px;
    padding: 10px 80px;
    background-color: #b4161b21;
    border: 1px solid #b4161b;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
}

.btn-red:hover{
    background-color: red;
    color: aliceblue;
    transition: 0.2s;
}

.refresh{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.btn-white{
    margin-top: 18px;
    padding: 10px 80px;
    font-size: 1rem;
    border: 1px solid white;
    cursor: pointer;
}

.btn-white:hover{
    background-color: white;
    color: black;
    transition: 0.2s;
}

.refresh h2{
    font-size: 2rem;
}