.container{
    display: flex;
    flex-wrap: wrap;
}

.car {
    border: 1px solid gray;
    margin: 20px;
    padding: 20px;
    width: 300px;
}

.car img {
    height: 200px;
    width: 100%;
}

.btn{
    background-color: rgb(246, 121, 121);
    border: none;
    height: 30px;
    border-radius: 15px;
}